<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="Setting1" value="Value1" />
  <add key="Setting2" value="Value2" />
  <add key="StringSetting" value="New ConfigurationManager's value N3" />
  <add key="IntSetting" value="64" />
  <add key="FloatSetting" value="3.53" />
  <add key="TimeSpanSetting" value="10675199.02:48:05.4775807" />
 </appSettings>
</configuration>