<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="Setting1" value="Value1" />
  <add key="Setting2" value="Value2" />
  <add key="StringSetting" value="New ConfigurationManager's value N4" />
  <add key="IntSetting" value="641" />
  <add key="FloatSetting" value="31.53" />
  <add key="TimeSpanSetting" value="14:14:14" />
 </appSettings>
</configuration>